.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.main_content{
    flex-grow: 1;
    min-width: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}
.content{
    flex-grow: 1;
    width: 100%;
    transition: padding .25s ease-in-out;
}
